.home-container {
  min-height: 100vh;
  background-color: #8d6b94;
  display: flex;
  flex-direction: column;
}

.heading-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  border: 2px solid black;
}

.button-container {
  align-self: center;
}

.button {
  position: relative;
  padding: 15px 32px;
  border: 2px solid black;
  border-radius: 2;
  /* background-color: #b185a7; */
}

.button:hover {
  background-color: #b185a7;
}

figure {
  border: 2px solid green;
}
