.home-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.heading-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff4e9;
  font-size: 1.25em;
  text-align: center;
  flex-wrap: wrap;
}

.heading-container .title {
  font-family: 'Rakkas';
  letter-spacing: 1px;
}

.tagline {
  border-bottom: 2px solid #593959;
  padding-bottom: 5px;
  font-size: 0.9em;
}

.logo-container {
  align-self: center;
}

.logo-container img {
  height: 400px;
  width: auto;
  margin: 50px 0px;
}

.enter-container {
  align-self: center;
}

.enter {
  padding: 10px 25px;
  border: 1px solid #593959;
  background-color: #593959;
  border-radius: 10px;
  color: #fff4e9;
  cursor: pointer;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-family: 'Padlova';
}

.enter:hover {
  background-color: transparent;
  color: #593959;
}

.enter:active {
  transform: scale(0.96);
}

@media only screen and (max-width: 480px) {
  .logo-container img {
    height: 200px;
  }

  .enter {
    font-size: 0.5rem;
  }
  .tagline {
    width: 70%;
  }

  .logo-container {
    padding: 10%;
  }
}
