.home-container {
  min-height: 100vh;
  background-color: #8d6b94;
  display: flex;
  flex-direction: column;
  font-family: 'Paytone One', sans-serif;
}

.heading-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid black;
  color: white;
}

.button-container {
  align-self: center;
}

.button {
  position: relative;
  padding: 10px 32px;
  border: 2px solid #37193d;
  background-color: #5c2d51;
  border-radius: 2em / 5em;
  color: white;
  font-family: 'Paytone One';
  cursor: pointer;
}

.button:hover {
  background-color: #b185a7;
}

figure {
  border: 2px solid green;
}
