.not-found-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.not-found-main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: fixed;
  background-color: #fff4e9;
  border-radius: 20px;
  padding: 20px;
  border: 2px solid black;
  box-shadow: 5px 5px 30px 15px #593959;
  width: 50%;
  max-width: 400px;
  height: auto;
  text-align: center;
}

.not-found-main {
  color: #593959;
}

.not-found-title {
  color: #593959;
}

.not-found-button {
  border: 1px solid #593959;
  color: #fff4e9;
  background-color: #593959;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
  font-weight: bold;
  text-transform: uppercase;
}

.not-found-button:hover {
  color: #593959;
  background-color: transparent;
  border: 1px solid #593959;
}
