@import url('https://fonts.googleapis.com/css?family=Patrick+Hand');

.sign-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header-container {
  color: #fff4e9;
  text-align: center;
  font-size: 1.25rem;
}

.main-card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  min-width: 50%;
}

.unsure-button-container {
  border: 2px solid #593959;
  margin: 20px;
  border-radius: 10px;
  text-transform: uppercase;
  cursor: pointer;
  padding: 10px;
  font-weight: bold;
}

.unsure-button {
  text-decoration: none;
  color: #fff4e9;
  font-size: 0.75rem;
  background-color: transparent;
}

.unsure-button-container:hover {
  background-color: #593959;
}

/* @media only screen and (max-width: 480px) {
} ; */
