.card-container {
  border: 2px solid black;
  background-color: #fff4e9;
  border-radius: 10px;
  margin: 10px;
  box-shadow: 10px 5px 5px #593959;
  /* max-width: 40%;
  max-height: 50%; */
}

.image-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  /* background-color: red; */
}

.image-container img {
  cursor: pointer;
}

.division {
  border: 0.5px solid black;
  margin: 0px;
  width: 80%;
}

.sign-btn-container {
  display: flex;
  justify-content: center;
  text-align: center;

  border: 2px solid green;
}

.sign-btn-container p {
  font-size: 12px;
  background-color: #593959;
  /* width: 100%; */
  padding: 10px 20px;
  border-radius: 10px;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-decoration: none;
  color: #fff4e9;
  cursor: pointer;
  /* margin-top: 50px; */
}

img {
  height: 75px;
  width: 100px;
  /* border: 2px solid black; */
}
