.card-container {
  border: 2px solid black;
  background-color: #fff4e9;
  border-radius: 10px;
  margin: 10px;
  box-shadow: 10px 5px 5px #593959;
  max-width: 250px;
  max-height: 250px;
}

.card-container:hover {
  transform: scale(0.9, 0.9);
}

.content {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.content img {
  cursor: pointer;
  height: 60%;
  width: 60%;
  padding: 0px;
}

.division {
  border: 0.5px solid black;
  margin: 0px;
  width: 80%;
}

.sign-btn-container {
  display: flex;
  justify-content: center;
  text-align: center;
}

.sign-btn-container p {
  font-size: 0.65rem;
  background-color: #593959;
  padding: 10px 20px;
  border-radius: 10px;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-decoration: none;
  color: #fff4e9;
}
